@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  align-items: center;
}
.header {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 600px;
  border: 1px dashed rgb(163 218 227 / 54%);
}
.div-setting {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  width: 300px;
}
.square-div {
  background-color: #ffffff;
  width: 6.25%;
  height: 6.25%;
}
.square-div-hover {
  background-color: #727070;
}
.reset {
  padding-top: 30px;
}
